server:
  port: 8081

github:
  endpoint: https://api.github.com/graphql


justauth:
  enabled: true
  type:
    GITHUB:
      client-id: 10**********6
      client-secret: 1f7d08**********5b7**********29e
      redirect-uri: http://oauth.xkcoding.com/demo/oauth/github/callback
  cache:
    type: default

vue:
  endpoint: http://localhost:8999

spring:
    datasource:
        username: root
        password: anywhere
        url: jdbc:mysql://localhost:3306/gitstar?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    jackson:
        time-zone: GMT+8
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
