<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
<!-- Basic Page Needs
================================================== -->
<title>Home</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="author" content="">

<!-- Mobile Specific Metas 
================================================== -->
<meta content="width=device-width,initial-scale=1" name="viewport">

<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="../static/images/favicon.png">
<link rel="apple-touch-icon" href="../static/images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="../static/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="../static/images/apple-touch-icon-114x114.png">

<!--fonts
====================================================-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700%7cOswald:400,700" rel="stylesheet">
<!--stylesheets
====================================================-->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/cerulean/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<link rel="stylesheet" type="text/css" href="../static/css/simpletextrotator.css">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]--> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script> <!-- JQUERY -->
</head>
<body>

<!--FRONT PAGE/ SPLASH SCREEN SECTION-->

<div class="loading-screen"></div>

<div id="frontpage">
	<div class="shadow-img"></div> 
	<img src="../static/images/front-image.jpg" class="front-img img-responsive" alt ="Front-image"><!--IMAGE FOR FRONT SCREEN-->
	<h1>John <span class="invert">Doe</span></h1><!--PROFILE NAME-->
	<h3 class="invert" style="margin-top: -10px; margin-bottom: 10px;">Web <span class="rotate">Developer, Designer, Artist</span></h3> <!--SUBTITLE IN PROFILE-->
	<div class="frontclick"><img src="../static/images/click.png" alt="" class="img-responsive"><span class="pulse"></span></div>
</div>
<!--FRONT PAGE/ SPLASH SCREEN SECTION ENDS-->
<!--container-->
<div class="container">
	<div id="content" class="row hidden">
		<div class="col-sm-4">
			<!--namecard-->
			<div id="namecard" class="namecard">
				<div class="shadow-img"></div>
				<h1 class="maintitle">li24361 </h1><!--PROFILE NAME-->
				<h3 class="sub-maintitle">MarkDown<span class="invert">高级工程师</span>
				</h3>
				<img id="profile-img" class="profile-img transparent" src="../static/images/profile-thum.png" alt="profile-image"><!--PROFILE IMAGE-->
			</div><!--/#namecard-->
			<!--menu-->
			<div id="menu-container">
				<!--PAGE MENU-->
				<ul class="nav-menu no-padding">
					<li class="nav-btn selected" title="Home" data-page="home">
						<div class="hover-background"></div>
						<span>Home</span><i class="fa fa-user fa-fw"></i>
					</li>
					<li class="nav-btn" id="resume-btn" title="Resume"  data-page="resume">
						<div class="hover-background"></div>
						<span>Resume</span><i class="fa fa-file-text fa-fw"></i>
					</li>
				   <li class="nav-btn folio-btn" data-filter="*" title="Portfolio" data-page="portfolio">
						<div class="hover-background"></div>
						<span>Portfolio</span><i class="fa fa-suitcase fa-fw"></i>
					</li>
					<li class="nav-btn" title="Contact" id="contact-link" data-page="contact">
						<div class="hover-background"></div>
						<span>Contact</span><i class="fa fa-paper-plane fa-fw"></i>
					</li>
				</ul><!--/.nav-menu __PAGE MENU ENDS-->

				<!--SOCIAL NAV MENU-->
				<div class="social-menu-container">
					<ul class="social-menu no-padding">                     
						<li><a href=""><i class="fa fa-facebook"></i></a></li>
						<li><a href=""><i class="fa fa-google-plus"></i></a></li>
						<li><a href=""><i class="fa fa-youtube"></i></a></li>
						<li><a href=""><i class="fa fa-pinterest-p"></i></a></li>
						<li><a href=""><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div><!--/.social-menu-container-->
			</div><!--#menu-container-->
		</div>
		<div class="col-sm-8 page-segment">
			<ul class="page-container no-padding">
				<!--HOME/PROFILE PAGE-->
				<li id="home" class="selected">
					<div class="title-container hidden">
						<div class="shadow-img"></div> 
						<h2 class="rotate-out"><span class="invert">影响力</span></h2><!--HOME TITLE-->
					</div>
					<div class="description hidden">
						<div class="watermark-home"></div> 

						<div class="fade-text transparent">
							<!--DESCRIPTION ON HOME-->
							<div class="strong-text">Hello, I am <span>John Doe</span></div>
							<div class="focus-text"><span>Web Developer & </span><span>Web Designer</span></div>
							<p class="large-paragraph">I have ten years experience as a web/interface designer.I have a love of clean, elegant styling. I have lots of experience in the production of CSS and HTML for modern websites.</p>         
							<!--DESCRIPTION ON HOME ENDS-->
						</div>

						<!--ALL PERSONAL DETAILS-->
						<h3 class="personal-info-title title">个人信息</h3>
						<ul class="personal-info">
							<li class="rotate-out rotated"><label>language</label><span>Java</span></li>
							<li class="rotate-out rotated"><label>star</label><span>1111</span></li>
							<li class="rotate-out rotated"><label>followers</label><span>111</span></li>
							<li class="rotate-out rotated"><label>repository</label><span>li24361/sorry</span></li>
						</ul><!--/ul.personal-info-->
					</div>
				</li><!--/#home-->

				<!--RESUME PAGE-->
				<li id="resume" class="hidden">
					<div class="title-container">
						<div class="shadow-img"></div>
						<h2 class="rotate-out rotated"><span class="invert">Resume Of</span> John Doe</h2> <!--RESUME TITLE-->
					</div>
					<div class="description">
						<div class='tabs tabs_animate'>
								<h3 class="title">OUR SKILLS</h3><!--SKILLS WITH BAR DISPLAY-->
								<ul class="skills-list no-padding">
									<li class="row">
										<div class="col-xs-2"><div class="fw-mid">HTML</div></div>
										<div class="col-xs-9">
											<div class="bar">
												<div class="percentage" id="bar1" style="width: 98%;"></div>
											</div>
										</div>
									</li>
									<li class="row">
										<div class="col-xs-2"><div class="fw-mid">CSS</div></div>
										<div class="col-xs-9">
											<div class="bar">
												<div class="percentage" id="bar2" style="width: 75%;"></div>
											</div>
										</div>
									</li>
									<li class="row">
										<div class="col-xs-2"><div class="fw-mid">Javascript</div></div>
										<div class="col-xs-9">
											<div class="bar">
												<div class="percentage" id="bar3" style="width: 85%;"></div>
											</div>
										</div>
									</li>
								</ul><!--SKILLS WITH BAR DISPLAY ENDS-->
								<!--SKILLS WITH CIRCLE DISPLAY-->
								<div class="circle-skill-container">
									<h3 class="title">OTHER SKILLS</h3>
									<div class="row">
										<div class="col-xs-4 center-align">
											<div class="circle-bar" id="line-container1">
												<div class="progressbar-text" id="progress-text1">0</div>
											</div>
											<h5>Photoshop</h5>
										</div>
										<div class="col-xs-4 center-align">
											<div class="circle-bar" id="line-container2">
												<div class="progressbar-text" id="progress-text2">0</div>
											</div>
											<h5>Illustrator</h5>
										</div>
										<div class="col-xs-4 center-align">
											<div class="circle-bar" id="line-container3">
												<div class="progressbar-text" id="progress-text3">0</div>
											</div>
											<h5>After effect</h5>
										</div>
									</div>
								</div><!--SKILLS WITH CIRCLE DISPLAY ENDS-->

						</div>
					</div>
				</li>
				<!--/#resume-->
			</ul> 

		</div><!--/.page-segment -->
		<!--  <h6 class="copyright-text">Copyright © 2015 John Doe</h6> --> <!--if anyone wants copyright Texts--> 
	</div>
</div><!--/.container -->

<!--PORTFOLIO IMAGE MODAL LIST-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4><!--PORTFOLIO IMAGE TITLE-->
			</div>
			<div class="modal-body">
				<img src="../static/images/folio/logs.jpg" class="img-responsive" alt="modal-image"><!--PORTFOLIO MODAL IMAGE-->
			</div>
			<div class="modal-footer">
				<div class="mf-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis temporibus fuga sit explicabo blanditiis voluptate iste vero quia impedit? Iusto illo voluptas est praesentium veritatis magni, pariatur laboriosam voluptatem inventore.</p>
				</div>                      
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript" src="../static/js/jQueryTween-aio-min.js"></script> <!-- JQUERY Tween Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tabslet.js/1.7.3/jquery.tabslet.min.js"></script> <!-- JQUERY Tab plugin-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.0.1/progressbar.min.js"></script> <!-- JQUERY Progressbar Plugin-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/simple-text-rotator/1.0.0/jquery.simple-text-rotator.min.js"></script> <!-- JQUERY Text Rotator-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script> <!-- Bootstrap file-->
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js'></script>
<script type="text/javascript" src="../static/js/custom.js"></script>
</body>
</html>
